# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific
cache/
*.csv

# OS
.DS_Store
Thumbs.db

#OTHER
%USERPROFILE%.git-credentials-personal